---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries/search?query=colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0369c1bbf81e6df74cb5bdc7fe59ea48"
    body:
      encoding: UTF-8
      string: '[{"id":8680,"obdb_id":"bascule-brewery-and-public-house-lorain","name":"Bascule
        Brewery And Public House","brewery_type":"micro","street":"1397 Colorado Ave","address_2":null,"address_3":null,"city":"Lorain","state":"Ohio","county_province":null,"postal_code":"44052-3377","country":"United
        States","longitude":"-82.15710792","latitude":"41.46560548","phone":null,"website_url":"http://www.basculebrewingcompany.com","updated_at":"2018-07-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":9814,"obdb_id":"colorado-plus-wheat-ridge","name":"Colorado
        Plus","brewery_type":"brewpub","street":"6995 W 38th Ave","address_2":null,"address_3":null,"city":"Wheat
        Ridge","state":"Colorado","county_province":null,"postal_code":"80033-4965","country":"United
        States","longitude":"-105.0916384","latitude":"39.7693524","phone":"3038775957","website_url":"http://coloradoplus.net","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-[...]
